.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 5px solid gold;


    height: 90px;
    width: 100%;
    background-color: #000000;
    color: #ffff00;
    
    
}

.panel{
    margin-top: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url();

}

.square{
    height: 150px;
    width: 150px;
    border: 1px solid #000000;
    background-color: #80ca3b;
}


.enemy{
    background-image: url("../images/ralph.png");
    background-size: cover;

}

.menu-vidas{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.menu-timer h2:nth-child(2),
.menu-placar h2:nth-child(2){

    margin-top: 1rem;
}

